body{
    background-color: #FFF9D9;
}
.navbar{
    background-color: #ffd400;
}
.navbar-brand{
    margin: 0 auto;
}
h5{
    background-attachment: fixed;
    background-color: #ffd5005d;
    margin-top: 8%;
    margin-bottom: 15%;
    padding: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.container{
    background-color: #ffd50093;
    background-color: transparent 90%;
    border-radius: 20px;
    font-family: 'Baloo Tammudu 2', cursive;
    padding: 15px;
    margin-bottom: 30px;
}

/* Dropup Button */
.dropbtn {
    background-color: #ffd400;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
    font-family: 'Baloo Tammudu 2', cursive;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropup links on hover */
  .dropup-content a:hover {background-color: #ddd}
  
  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }
  
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn {
    background-color: #ffd400;
  }

  
  .login-page {
    padding: 8% 0 0;
    margin-top: -200px;
  }

  .form {
    position: relative;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    
  }
  .form input {
    font-family: FontAwesome, "Roboto", sans-serif;
    background: #e6e4e4;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    font-size: 14px;
    border-radius:10px;
  }

  .jumbotron{
      margin-top: auto;
      border-radius: 20px;
      padding: auto;
  }
  .label{
      background-color: transparent;
      outline:none;
      border-top: 40px;
      border-left: none;
      border-right: none;
      border-color: #C4C4C4;
      float: right;
      flex-direction: column;
    }
  .btn {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    background: #ffd400;
    border: 0;
    border-radius:10px;
    border: 2px;
    padding: 10px;
    color: #ed1c24;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 39%;
    width: 90px;
  
  }

  .btn:hover,.form button:focus {
    background: #ed1c24;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     color: #ffff;
    transform: translateY(-4px);
  }
  
.img-bulat{
  margin-left: 4%;
  margin-top: -60%;
}
.img-gabung{
  margin-left: -238px;
}
.img-merah{
  margin-left: -57%;
}
.img-bintang{
  margin-left: 13%;
}
.img-putih{
  margin-top: -18%;
}
.img-bputih{
  margin-left: 200px;
}
.bintangmerah{
  margin-left: -150px;
}
.putih{
  margin-left: 50px;
}
.bintang{
  margin-left: 210px;
}
.psw{
  margin-left: 70px;
  margin-top: 30px;
}
.pesaw{
  margin-left: 0px;
}
.bpth{
  margin-left: 80px;
}
.pesawpu{
margin-left: 90px;
}
.bulat-merah{
  margin-left: 350px;
  margin-top: 0px;
}
.tanya{
  margin-left: 50%;
  margin-top: 5px;
}
.bawah{
  margin-top: -50px;
}

.group21{
  margin-top: -20%;
  margin-left: 30%;
}
.kplmerah{
  margin-top: 8%;
  margin-left: 70px;
}