body{
    background-color: #FFF9D9;
}
.navbar{
    background-color: #ffd400;
}
.navbar-brand{
    margin: 0 auto;
}
.jumbotron{
    background-color: #ffd50065;    
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.input-group{
    width: 250px;
    height: auto;
    margin: 0 auto;
}
.form-control{
    background-color: rgb(236, 238, 236);
    border: none;
    margin: 0 auto;
    width:200px
} 

.input-group-text{
    background-color: rgb(236, 238, 236);
    border-radius: 15px;
    margin: 0 auto;
}
.display-4{
    margin-top: -15px;
    font-size:23px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-bottom: auto;
}
.lead{
    margin-bottom: -30px;
}
.bottom{
    display: block;
    margin-top: 55px;
}
.title{
    font-size: 35px;
}

.col-12{
    background-color: #ffd50033;
    border-radius: 10%;
    padding: 8%;
}