body{
    background-color: #FFF9D9;
    position: fixed;
}
.navbar{
    background-color: #ffd400;
}
.navbar-brand{
    margin: 0 auto;
}
.jumbotron{
    background-color: #ffd50065;    
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Baloo Tammudu 2', cursive;
}

.input-group{
    width: 250px;
    height: auto;
    margin: 0 auto;
}
.form-control{
    background-color: rgb(236, 238, 236);
    border: none;
    margin: 0 auto;
    width:200px
} 

.input-group-text{
    background-color: rgb(236, 238, 236);
    border-radius: 15px;
    margin: 0 auto;
}
.display-4{
    margin-top: -15px;
    font-size:23px;
    font-family: 'Baloo Tammudu 2', cursive;
    margin-bottom: auto;
}
.lead{
    margin-bottom: -30px;
}
.bottom{
    display: block;
    margin-top: 5.5em;

}
.title{
    font-size: 35px;
}

.col-12{
    background-color: #ffd50033;
    border-radius: 10%;
    padding: 8%;
}


/* Dropup Button */
.dropbtn {
    background-color: #ffd400;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    
  }
  
  /* The container <div> - needed to position the dropup content */
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  /* Dropup content (Hidden by Default) */
  .dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
     font-family: 'Baloo Tammudu 2', cursive;
  }
  
  /* Links inside the dropup */
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropup links on hover */
  .dropup-content a:hover {background-color: #ddd}
  
  /* Show the dropup menu on hover */
  .dropup:hover .dropup-content {
    display: block;
  }
  
  /* Change the background color of the dropup button when the dropup content is shown */
  .dropup:hover .dropbtn {
    background-color: #ffd400;
    
  }